*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Red Hat Display", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 80%;
    height: 60%;
    background:  #5ba5db87;
    border-radius: 25px;
}